.subBlock > button{
    background-color: rgb(181, 196, 196);
    border:groove;
    color: rgb(19, 7, 7);
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    display: inline;
}

.subBlock  :hover
{
    opacity: 20;
}

.mainBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: auto;
    height: 80vh;
}